{% extends 'base.html.twig' %}

{% block title %}Hello Limosquare{% endblock %}

{% block body %}
	<table width="258" border="0" cellpadding="0" cellspacing="0" align="center">
	<tr>
		<td>
			<img src="{{ asset('images/gares_03.png') }}" alt="" width="258" height="66" align="left">
		</td>
	</tr>
	<tr>
		<td>
			<a href="{{ path('destinations_route', {'location':'Gare du Nord'}) }}">	
				<img src="{{ asset('images/gares_05.png') }}" width="258" height="92" alt="Gare du Nord" align="left">
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="{{ path('destinations_route', {'location':'Gare de Lyon'}) }}">		
				<img src="{{ asset('images/gares_06.png') }}" width="258" height="94" alt="Gare de Lyon" align="left">
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="{{ path('destinations_route', {'location':'Gare Saint-Lazare'}) }}">
				<img src="{{ asset('images/gares_07.png') }}" width="258" height="94" alt="Gare Saint-Lazare" align="left">
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<a href="{{ path('destinations_route', {'location':'Gare Montparnasse'}) }}">
				<img src="{{ asset('images/gares_08.png') }}" width="258" height="95" alt="Gare Montparnasse" align="left">
			</a>	
		</td>
	</tr>
	<tr>
		<td>
			<img src="{{ asset('images/gares_09.png') }}" width="258" height="110" alt="" align="left">
		</td>
	</tr>
	<tr>
		<td>
			<a href="{{ path('index_route') }}">
				<img src="{{ asset('images/gares_10.png') }}" width="258" height="75" alt="retour" align="left">
			</a>
		</td>
	</tr>
	<tr>
		<td>
			<img src="{{ asset('images/gares_11.png') }}" width="258" height="108" alt="" align="left">
		</td>
	</tr>
	</table>	
{% endblock %}