{% extends 'base.html.twig' %}

{% block title %} Hello Limosquare {% endblock %}

{% block body %}
	<table width="257" cellpadding="0" cellspacing="0" align="center">	
		<tr>
			<td>
				<img src="{{ asset('images/destinations_03.png') }}" alt="" width="257" height="75" align="left">
			</td>		
		</tr>
		<tr>
			<td>	
				<a href="{{ path('aeroports_route') }}">
					<img src="{{ asset('images/destinations_05.png') }}" alt="aeroports" width="257" height="102" align="left">
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('gares_route') }}">
					<img src="{{ asset('images/destinations_06.png') }}" width="257" height="112" alt="gares" align="left">
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('autre_route') }}">
					<img src="{{ asset('images/destinations_07.png') }}" width="257" height="112" alt="autre" align="left">
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<img src="{{ asset('images/destinations_08.png') }}" width="257" height="132" alt="" align="left">
			</td>
		</tr>
		<tr>
			<td>
				<a href="{{ path('booking') }}">
					<img src="{{ asset('images/destinations_09.png') }}" width="257" height="80" alt="retour" align="left">
				</a>
			</td>
		</tr>
		<tr>
			<td>
				<img src="{{ asset('images/destinations_10.png') }}" width="257" height="104" alt="" align="left">
			</td>
		</tr>
	</table>
    
{% endblock %}